main{
    background-color: #1A2238;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#FF6A3D,#1A2238);
}

.container{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 1.5rem;
    max-width: 600px;
    padding: 1rem;
}

.home_img{
    flex: 1;
    max-width: 400px;
}

.home_img img{
    width: 100%;
    animation: up_down 2s linear infinite alternate;
}

.home_text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}
.home_text h2{
    line-height: 1.5;
}
.home_btn{
    background-color: #FF6A3D;
    border: none;
    border-radius: 5px;
    padding: 0.6rem 2rem;
    color: white;
    width: fit-content;
    font-size: 1rem;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 600;
}



/* ======== Animaiton ======== */
@keyframes up_down {
    0%{
        transform: translateY(-2%);
    }
    100%{
        transform: translateY(+2%);
    }
}