.edit{
    background-color:violet;
    max-width: 300px;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.edit h3{
    text-align: center;
}
.edit form{
    display: flex;
    gap: 0.5rem;
}

.edit form input{
    border-radius: 2px;
    border: solid 1px rgba(173, 172, 172, 0.411);
}

.edit button{
    background-color:#FF6A3D;
    border: none;
    padding: 0.4rem;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}