header {
    background-color: #1A2238;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  header nav{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
.logo{
    width: 100px;
    position: absolute;
    left: 1rem ;
}
.logo img{
  width: 100%;
}

@media screen and (max-width:737px) {
  header nav{
    justify-content: flex-end;
  }
}