header {
    background-color: #1A2238;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* max-width: 1024px;
    margin: 0 auto; */
    
  }

  header nav{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    width: 100px;
}
.logo img{
  width: 100%;
}